# dependencies
node_modules

# testing
/coverage

# tanstack-router
.tanstack
.nitro
.wrangler
count.txt

# production
dist
dist-ssr

# misc
.DS_Store

# debug
.pnpm-debug.log*

# env files
.env*.local

# typescript
*.tsbuildinfo

# storybook
*storybook.log
storybook-static

# cache
.*cache
